.countryInfo {
  position: relative;
  width: 200px;
  padding: 5px;
  font-size: 1rem;
  height: fit-content;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  transform: translateY(-75px) translateX(14px);
  z-index: 10;
}
.close img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: rgba(255, 100, 66, 0.2);
  padding: 3px;
  border-radius: 3px;
  transition: all 0.35s;
}
.close img:hover {
  cursor: pointer;
  transform: scale(1.2);
  background: rgba(255, 100, 66, 0.25);
}
