* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 10px;
  background: black;
}
.body {
  display: flex;
  height: 92.3vh;
}

::-webkit-scrollbar {
  background: rgb(54, 54, 54);
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: rgb(87, 87, 87);
}
